<div class="home-container">
    <div class="home-content">
        <div class="home-logo">
            <img src="../../../assets/logo_cangooroo.png"/>
        </div>
        <div class="home-title">
            <p> O Booking Engine Perfeito Para Fazer Crescer Seu Negócio <br> e Aumentar as suas Vendas </p>
        </div>
        <div class="home-start">
            <button routerLink="/product" type="button"> 
                <a>
                    Iniciar
                </a>
            </button>
        </div>
    </div>
</div>
